*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 100%;
    background-color: #E4D0D0;
}

main{
    min-height: 65vh;
}


.body-container {
    padding: 0!important;
}
header{
    background-color: black
}

.navbar-expand-lg .navbar-collapse {
    flex-basis: auto;
    justify-content: flex-end;
}

.navbar-brand {
    margin-left: 1rem;
}

.nav-link {
    font-weight: bold;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    margin: 0.5rem;
    color: #ffffff;
    background-color: #000000;
}

.nav-link:hover {
    color: #000000;
    background-color: #ffffff;
}

.div-h1 {
    width: auto;
    align-items: center;
}

.div-h{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 15vh;
    border-radius: 1rem;
}
.main-div {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.div-price{
    width: 100% !important;
}

.img-carta {
    margin: 1rem;
}
.h3-template{
    display: flex !important;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.template-img{
    object-fit: cover;
    width: auto !important;
}
.card-text{
    margin-bottom: 0;
}

.card-img-top{
    height: 40%;
    object-fit: cover;
}

.bi-search{
    margin: 0.2rem;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: black;
    color: white;
    padding: 2rem;
}

.bi-facebook, .bi-instagram, .bi-whatsapp{
    margin: 1rem;
    color: white;
    flex-wrap: wrap;
}

/* FORMULARIO */

.form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    height: 60vh;
}
.div-form {
    width: 10rem;
    display: flex;
    flex-direction: column;
    width: auto;
}

.h5-details {
    text-align: center;
    margin: 1rem;
}

form {
    width: 30%;
    align-items: center;
    font-weight: bold;
}

textarea {
    height: 10rem;
    resize: none;
}

.btn-form{
    text-align: end;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-p {
    margin-top: 1rem;
    margin-bottom: 0;
}

.btn-form1  {
    padding: 0.3rem;
    width: 4rem;
    font-weight: bold;
}

/* TABLE */

caption {
    caption-side: top;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: #000000;
}

table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
table{
    text-align: center;
    width: 70vw;
}

th {
    background-color: rgba(0, 0, 0, 0.295);
}

.main-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

/* DETAILS */

.container1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #000000;
    border-radius: 1rem;
    border: 1px solid   #000000;
}
.main-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}
.img-form2 {
    border-radius: 2rem;
    border: 2px solid rgb(245, 222, 179);
}

.card-details {
    width: 50vh;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 1rem;
    background-color: rgb(255, 228, 196);
}

@media (min-width: 768px) and (max-width: 1023px){

    .main-div {
        flex-direction: column;
    }
    .container1 {
        width: 100;
    }

    .card {
        width: 65%;
        height: auto;
    }

    footer{
        flex-direction: column;
        width: auto;
        height: auto;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .main-div {
        flex-direction: column;
    }

    .container1 {
        width: 100%;
    }
    .card {
        flex-direction: column;
        width: 60% !important;
        height: auto;
    }

    #details-card{
        flex-wrap: wrap;
    }

    footer{
        flex-direction: column;
        width: auto;
        height: auto;
    }
}
